COVE_SECIIT/CoveProxy/Service References/CoveRespuestaServicio/ConsultarRespuestaCoveService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://www.ventanillaunica.gob.mx/cove/ws/oxml/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ventanillaunica.gob.mx/cove/ws/oxml/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Errores">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="mensaje" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RespuestaOperacion">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" name="numeroFacturaORelacionFacturas">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="contieneError" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="eDocument">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="errores" type="tns:Errores" />
      <xsd:element minOccurs="0" name="cadenaOriginal">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="selloDigital">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RespuestaPeticion">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="numeroOperacion" type="xsd:integer" />
      <xsd:element minOccurs="1" maxOccurs="1" name="horaRecepcion" type="xsd:dateTime" />
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="respuestasOperaciones" type="tns:RespuestaOperacion" />
      <xsd:element minOccurs="0" name="leyenda">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FirmaElectronica">
    <xsd:annotation>
      <xsd:documentation>Datos de la firma electronica</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" name="certificado" type="xsd:base64Binary">
        <xsd:annotation>
          <xsd:documentation>Certificado Digital</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" name="cadenaOriginal" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Cadena original para obtener la firma digital</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" name="firma" type="xsd:base64Binary">
        <xsd:annotation>
          <xsd:documentation>Firma digital generada</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SolicitarConsultarRespuestaCoveServicio">
    <xsd:annotation>
      <xsd:documentation> &lt;pre&gt; Petición para la ejecucion de la operación RecibirCove del Servicio Web. &lt;/pre&gt;    </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="numeroOperacion" type="xsd:integer" />
      <xsd:element minOccurs="1" name="firmaElectronica" type="tns:FirmaElectronica" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="solicitarConsultarRespuestaCoveServicio" type="tns:SolicitarConsultarRespuestaCoveServicio" />
  <xsd:element name="solicitarConsultarRespuestaCoveServicioResponse" type="tns:RespuestaPeticion" />
</xsd:schema>