COVE_SECIIT/CoveProxy/Service References/CoveServicioDocumento/DigitalizarDocumento1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.ventanillaunica.gob.mx/aga/digitalizar/ws/service/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:xsd1="http://www.ventanillaunica.gob.mx/aga/digitalizar/ws/oxml/DigitalizarDocumento" xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="DigitalizarDocumento" targetNamespace="http://www.ventanillaunica.gob.mx/aga/digitalizar/ws/service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:UsingPolicy wssutil:Required="true" />
  <wsp:Policy wssutil:Id="Mtom.xml">
    <ns0:OptimizedMimeSerialization xmlns:ns0="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
  </wsp:Policy>
  <wsp:Policy wssutil:Id="Wssp1.2-Https-UsernameToken-Plain.xml">
    <ns0:TransportBinding xmlns:ns0="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512">
      <wsp:Policy>
        <ns0:TransportToken>
          <wsp:Policy>
            <ns0:HttpsToken />
          </wsp:Policy>
        </ns0:TransportToken>
        <ns0:AlgorithmSuite>
          <wsp:Policy>
            <ns0:Basic256 />
          </wsp:Policy>
        </ns0:AlgorithmSuite>
        <ns0:Layout>
          <wsp:Policy>
            <ns0:Lax />
          </wsp:Policy>
        </ns0:Layout>
        <ns0:IncludeTimestamp />
      </wsp:Policy>
    </ns0:TransportBinding>
    <ns0:SupportingTokens xmlns:ns0="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512">
      <wsp:Policy>
        <ns0:UsernameToken ns0:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512/IncludeToken/AlwaysToRecipient">
          <wsp:Policy>
            <ns0:WssUsernameToken10 />
          </wsp:Policy>
        </ns0:UsernameToken>
      </wsp:Policy>
    </ns0:SupportingTokens>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.ventanillaunica.gob.mx/aga/digitalizar/ws/oxml/Imports">
      <xsd:import schemaLocation="https://www2.ventanillaunica.gob.mx:443/ventanilla-8-old/DigitalizarDocumentoService?xsd=1" namespace="http://www.ventanillaunica.gob.mx/aga/digitalizar/ws/oxml/DigitalizarDocumento" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReceptor_RegistroDigitalizarDocumentoServicio_InputMessage">
    <wsdl:part name="peticion" element="xsd1:registroDigitalizarDocumentoServiceRequest" />
  </wsdl:message>
  <wsdl:message name="IReceptor_RegistroDigitalizarDocumentoServicio_OutputMessage">
    <wsdl:part name="respuesta" element="xsd1:registroDigitalizarDocumentoServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IReceptor_ConsultaEDocumentDigitalizarDocumentoServicio_InputMessage">
    <wsdl:part name="peticion" element="xsd1:consultaDigitalizarDocumentoServiceRequest" />
  </wsdl:message>
  <wsdl:message name="IReceptor_ConsultaEDocumentDigitalizarDocumentoServicio_OutputMessage">
    <wsdl:part name="respuesta" element="xsd1:consultaDigitalizarDocumentoServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IReceptor_ConsultaTipoDeDocumentoServicio_InputMessage">
    <wsdl:part name="peticion" element="xsd1:consultaTipoDocumentoServiceRequest" />
  </wsdl:message>
  <wsdl:message name="IReceptor_ConsultaTipoDeDocumentoServicio_OutputMessage">
    <wsdl:part name="respuesta" element="xsd1:consultaTipoDocumentoServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IReceptor">
    <wsdl:operation name="RegistroDigitalizarDocumento">
      <wsdl:input message="tns:IReceptor_RegistroDigitalizarDocumentoServicio_InputMessage" />
      <wsdl:output message="tns:IReceptor_RegistroDigitalizarDocumentoServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaEDocumentDigitalizarDocumento">
      <wsdl:input message="tns:IReceptor_ConsultaEDocumentDigitalizarDocumentoServicio_InputMessage" />
      <wsdl:output message="tns:IReceptor_ConsultaEDocumentDigitalizarDocumentoServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaTipoDeDocumento">
      <wsdl:input message="tns:IReceptor_ConsultaTipoDeDocumentoServicio_InputMessage" />
      <wsdl:output message="tns:IReceptor_ConsultaTipoDeDocumentoServicio_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IReceptorEndpointBinding" type="tns:IReceptor">
    <wsp:PolicyReference URI="#Mtom.xml" />
    <wsp:PolicyReference URI="#Wssp1.2-Https-UsernameToken-Plain.xml" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistroDigitalizarDocumento">
      <soap:operation soapAction="http://www.ventanillaunica.gob.mx/RegistroDigitalizarDocumento" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaEDocumentDigitalizarDocumento">
      <soap:operation soapAction="http://www.ventanillaunica.gob.mx/ConsultaEDocumentDigitalizarDocumento" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaTipoDeDocumento">
      <soap:operation soapAction="http://www.ventanillaunica.gob.mx/ConsultaTipoDeDocumento" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DigitalizarDocumentoService">
    <wsdl:port name="IReceptorBinding" binding="tns:IReceptorEndpointBinding">
      <soap:address location="https://www2.ventanillaunica.gob.mx:5002/ventanilla-8-old/DigitalizarDocumentoService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>